<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ubarenroom_OfferManager::offer" sortOrder="10" title="Ubarenroom Offer Manager"/>
            </resource>
        </resources>
    </acl>
</config>
