<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ubarenroom\OfferManager\Api\Data\OfferInterface"
                type="Ubarenroom\OfferManager\Model\Offer" />
    <preference for="Ubarenroom\OfferManager\Api\OfferRepositoryInterface"
                type="Ubarenroom\OfferManager\Model\OfferRepository" />
    <preference for="Ubarenroom\OfferManager\Api\Data\OfferSearchResultsInterface"
                type="Ubarenroom\OfferManager\Model\OfferSearchResults" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="offer_grid_listing_data_source" xsi:type="string">OfferGridCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="OfferGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ubarenroom_offer</argument>
            <argument name="resourceModel" xsi:type="string">Ubarenroom\OfferManager\Model\ResourceModel\Offer</argument>
        </arguments>
    </virtualType>

    <virtualType name="Ubarenroom\OfferManager\OfferImageUpload" type="Ubarenroom\OfferManager\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">wysiwyg/tmp/offer</argument>
            <argument name="basePath" xsi:type="string">wysiwyg/offer</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ubarenroom\OfferManager\Controller\Adminhtml\Offer\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Ubarenroom\OfferManager\OfferImageUpload</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Ubarenroom\OfferManager\Api\Data\OfferInterface" xsi:type="string">
                    Ubarenroom\OfferManager\Api\OfferRepositoryInterface
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Ubarenroom\OfferManager\Api\Data\OfferInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">ubarenroom_offer</item>
                    <item name="identifierField" xsi:type="string">offer_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Ubarenroom\OfferManager\Api\Data\OfferInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="OfferReader" xsi:type="string">
                            Ubarenroom\OfferManager\Model\ResourceModel\Offer\Relation\ReadHandler
                        </item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="OfferCreator" xsi:type="string">
                            Ubarenroom\OfferManager\Model\ResourceModel\Offer\Relation\SaveHandler
                        </item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="OfferUpdater" xsi:type="string">
                            Ubarenroom\OfferManager\Model\ResourceModel\Offer\Relation\SaveHandler
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Ubarenroom\OfferManager\Api\Data\OfferInterface" xsi:type="string">
                    Magento\Framework\EntityManager\AbstractModelHydrator
                </item>
            </argument>
        </arguments>
    </type>
</config>
