<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ubarenroom_OfferManager::offer" title="Offers" module="Ubarenroom_OfferManager"
             sortOrder="1000" action="offer/offer/index" resource="Ubarenroom_OfferManager::offer"/>
    </menu>
</config>
